@tailwind base;
@tailwind components;
@tailwind utilities;

/* iosevka-aile-latin-400-normal */
@font-face {
    font-family: 'Iosevka Aile';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka-aile@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka-aile@latest/latin-400-normal.woff) format('woff');
}

/* iosevka-aile-latin-500-normal */
@font-face {
    font-family: 'Iosevka Aile';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka-aile@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka-aile@latest/latin-500-normal.woff) format('woff');
}

/* iosevka-aile-latin-600-normal */
@font-face {
    font-family: 'Iosevka Aile';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka-aile@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka-aile@latest/latin-600-normal.woff) format('woff');
}